html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
header{
    background: url("https://github.com/wendy-gs/LIM013-card-validation/blob/master/img/portada.png?raw=true") no-repeat center;
    background-size: cover;
    height: 29vh;
    width: 100%;
}
nav{
    background-color:#FCE2EE;
}
li{
    
    display: inline-block;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.barra{
    color: slategrey;
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    line-height: 40px;
    padding: 8px 60px;
}
nav ul li a:hover{
    background-color:#d1a1b2;
}
#redes{
    display: flex;
    justify-content: flex-end;
}
#redes .barra {
    padding: 8px 10px;
    font-size: 25px;
}

section{
    background: url("https://github.com/wendy-gs/LIM013-card-validation/blob/master/img/fondo.png?raw=true") no-repeat  center;
    background-size: cover;
    height: 100vh;
    width:100% ;
}
.formulario_label{
    display: block;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
}
fieldset{
    border: none;
    position: relative;
}
.form{
    position: relative;
    top:  25%;
    width: 26%;
    margin: 0 auto;
    padding: 20px;
    border:#585858 3px solid ;
    border-radius: 15px;
    background-color: #F6F3F6;
}
select{
    width:84px ;
}

.formulario_input, .formulario_input1{
    height: 30px;
    width: 17%;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: inset #4E467F  0px 0px  5px 1px;
    transform: .3s ease all;
}
.formulario_input:focus,.formulario_input1:focus {
    border: 2px solid #7A41A2;
    outline: none;
}
.formulario_parrafo_error{
    font-size: 12px;
    margin-bottom: 0px;
}
.Mostrar{
    display: block;
}
.formulario_validacion{
    position: absolute;
    right: 2%;
    bottom: 40%;
}
.formulario_mensaje{
    padding: 15px 15px;
    background: #FC7988;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formulario_mensaje p{
    margin:  0px;
}
.Ocultar{
    display: none;
}
.formulario_grupo_incorrecto .formulario_label{
    color:#C7192D;
}
.formulario_grupo_incorrecto .formulario_input{
    border: 2px solid #C7192D;
}

#nombre{
    width: 82%;
}
#cvv{
    width: 60px;
}
.grupo_btn{
    display: flex;
    justify-content: center;
}
.btn{
    width: 55%;
    height: 50px;
    border: none;
    font-weight: bold;
    background-color: #6B5DCD;
    color: ivory;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}
#btnContinuar{
    margin: 0 auto;
    position: absolute;
    top: 80%;
    right: 15%;
}
.btn:hover{
    background-color: #9582B3;
}
#imgCard{
    margin: 0 auto;
    position: absolute;
    top:56%;
    left:35%;
}
#cardNumber{
    position: absolute;
    top: 48%;
    left: 17%;
    width: 400px;
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}
#cardName{
    position: absolute;
    top: 58%;
    left: 17%;
     width: 400px;
    font-size: 14px;
    font-weight: bold;
    color: aliceblue;
}
#mensajeError{
    height: 92px;
    width: 360px;
    position: absolute;
    top: 48%;
    left: 37.6%;
    border: solid 5px #f16363;
}
#mensajeSeguro{
    height: 70px;
    position: absolute;
    top: 73%;
    left: 70%;
}
#candado{
    height: 90px;
    position: absolute;
    top: 85%;
    left: 73%;
}
footer p{
    text-align:center;
    margin-top: 0px;
	background-color: #D3CBDA;
}